.font-size-lg {
  font-size: 1.25rem; 
}


.nav-link.hover-gray:hover {
  background-color: #f8f9fa; 
  color: #343a40; 
  border-radius: 0.25rem; 
}


.nav-link.hover-register:hover {
  background-color: #e7f0ff; 
  color: #0056b3; 
  border-radius: 0.25rem; 
}

.nav-link.hover-login:hover {
  background-color: #d4edda; 
  color: #155724; 
  border-radius: 0.25rem; 
}

.navbar-logo {
  height: 60px;
  width: auto; 
}


.navbar-brand {
  margin-right: 1rem; 
}

.navbar-brand-text {
  font-size: 1.5rem; 
  font-weight: bold; 
  margin-left: 10px;
}


.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .navbar-brand-text {
  margin-left: 10px; 
}