<div class="modal fade" id="eventDetailModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailModalLabel" aria-hidden="true" *ngIf="event">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventDetailModalLabel">{{ event.eventName }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="event.imageFile" class="img-fluid mb-3" alt="{{ event.eventName }}">
        <p><strong>Description:</strong> {{ event.eventDescription }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <p><strong>Created Date:</strong> {{ event.createdDate | date:'dd/MM/yyyy HH:mm' }}</p>
        <p><strong>End Date:</strong> {{ event.endDate | date:'dd/MM/yyyy HH:mm' }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>
