<div class="about-page">
  <a href="/home" class="back-arrow">
    <i class="bi bi-arrow-left">Back To All Events</i>
  </a>
  <div class="about-container">
    <h2>About Our Event Management App</h2>
    <p>
      Welcome to our Event Management App, your go-to platform for discovering the latest events curated by our dedicated admin team. Whether you're looking for cultural festivals, tech conferences, or community meetups, our app has something for everyone. Our mission is to connect you with the most exciting events in your area, making it easy for you to stay informed and engaged.
    </p>
    <p>
      While our app allows users to explore events, the real magic happens behind the scenes, where our admins work tirelessly to bring you the best experiences. We believe in the power of events to bring people together, and we're committed to providing a seamless and enjoyable experience for all our users.
    </p>
    <img src="assets/Images/slika1.jpeg" alt="App Logo" class="logo-image">
  </div>

</div>
