<div class="container-fluid p-0">

  <section 
    class="hero d-flex align-items-start justify-content-center text-center text-golden" 
    id="home" 
    [ngStyle]="{'background-image': 'url(' + currentImage + ')'}"
  >
    <div class="hero-content">
      <h1 class="display-3 text-shadow">Discover Amazing Events</h1>
      <p class="lead text-shadow">Explore and attend events organized by our team of experts.</p>
      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/register" class="btn btn-custom btn-warning">Register</a>
        <a routerLink="/login" class="btn btn-custom btn-warning ml-2">Login</a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button class="btn btn-custom btn-warning" (click)="logout()">Logout</button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <a routerLink="/home" class="btn btn-custom btn-warning ml-2">Go to All Events</a>
      </ng-container>
    </div>
  </section>


  <section id="events" class="mt-5">
    <h2 class="text-center mb-4">Upcoming Events</h2>
    <div class="position-relative">
      <div class="row event-carousel">
        <div *ngFor="let event of visibleEvents" class="col-md-4 d-flex justify-content-center mb-4">
          <div class="card">
            <img [src]="event.imageFile" class="card-img-top" alt="{{ event.eventName }}">
            <div class="card-body">
              <h5 class="card-title">{{ event.eventName }}</h5>
              <p class="card-text">{{ event.eventDescription }}</p>
              <p class="card-text"><small class="text-muted">Location: {{ event.location }}</small></p>
              <p class="card-text"><small class="text-muted">Start Date: {{ event.createdDate | date }}</small></p>
              <p class="card-text"><small class="text-muted">End Date: {{ event.endDate | date }}</small></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" (click)="prev()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" (click)="next()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <footer class="bg-dark text-white text-center py-3 mt-5">
    <p>&copy; 2024 EventGo. All rights reserved.</p>
  </footer>
</div>
